[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = https://github.com/magit/magit.git
[submodule "emacs.d/vendor/rinari"]
	path = emacs.d/vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/vendor/ecb"]
	path = emacs.d/vendor/ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule "emacs.d/vendor/rvm.el"]
	path = emacs.d/vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "emacs.d/vendor/emacs-pry"]
	path = emacs.d/vendor/emacs-pry
	url = https://github.com/jacott/emacs-pry.git
[submodule "emacs.d/vendor/pry"]
	path = emacs.d/vendor/pry
	url = https://github.com/jacott/emacs-pry.git
[submodule "emacs.d/vendor/rspec-mode"]
	path = emacs.d/vendor/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "emacs.d/vendor/feature-mode"]
	path = emacs.d/vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
