[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = ../code/vendor/magit
[submodule "emacs.d/vendor/rinari"]
	path = emacs.d/vendor/rinari
	url = ../code/vendor/rinari
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = ../code/vendor/yasnippet
